<?xml version="1.0" encoding="utf-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>frames</key><dict><key>res/ui_pic_blackBg.png</key><dict><key>frame</key><string>{{100,2},{60,40}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true /><key>sourceSize</key><string>{60,40}</string></dict><key>res/ui_pic_guideTalk.png</key><dict><key>frame</key><string>{{2,2},{76,94}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true /><key>sourceSize</key><string>{76,94}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>ui_res2.png</string><key>realTextureFileName</key><string>ui_res2.png</string><key>size</key><string>{142,80}</string></dict><key>texture</key><dict><key>width</key><integer>142</integer><key>height</key><integer>80</integer></dict></dict></plist>